body {
  --light-blue: #007bff40;

  font-family: Ubuntu, Roboto, sans-serif;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.txt-input {
  padding: 5px;
  width: 400px;
  height: 30px;
  border: 1px solid var(--light-blue);
  border-radius: 5px;
  box-sizing: border-box;
}

.add-form {
  margin-bottom: 5px;
}

.with-shadow:focus {
  box-shadow: 0 0 0 2px var(--light-blue);
  transition-duration: 0.1s;
}

.no-outline:focus,
.no-outline:active {
  outline: none;
}

.task {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid lightgrey;
  padding: 10px;
  width: 600px;
  box-sizing: border-box;
}

.task p {
  margin: 0;
  margin-left: 5px;
}
.task .left,
.task .right {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.user-id {
  padding: 5px;
  width: 70px;
  text-align: center;
}

.with-radius {
  border-radius: 5px;
}

.grey-font {
  color: grey;
}

.task-button {
  background-color: transparent;
  border: 1px solid lightgrey;
  border-radius: 5px;
  margin-left: 5px;
  height: 30px;
  font-size: 15px;
}

.task-button:active {
  outline: none;
  background-color: grey;
  color: white;
}