body {
  --light-blue: #007bff40;
  --dark-blue: #007bffb3;

  font-family: Ubuntu, Roboto, sans-serif;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  zoom: 120%;
}

.header {
  min-width: 600px;
  padding: 10px;
  box-sizing: border-box;
}

.txt-input {
  font-size: 15px;
  padding: 7px;
  width: 400px;
  height: 30px;
  border: 1px solid var(--light-blue);
  border-radius: 5px;
  box-sizing: border-box;
}

.add-form {
  margin-bottom: 5px;
}

.primary-btn {
  background-color: var(--dark-blue);
  border: 1px solid var(--light-blue);
  border-radius: 5px;
  padding: 5px;
  color: white;
}

.primary-btn:active,
.primary-btn:focus {
  border: 2px solid var(--dark-blue)
}


.task-count {
  display: flex;
  justify-content: flex-end;
}

.with-shadow:focus {
  box-shadow: 0 0 0 2px var(--light-blue);
  transition-duration: 0.1s;
}

.no-outline:focus,
.no-outline:active {
  outline: none;
}

.list-container {
  margin-bottom: 100px;
}

.task {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--light-blue);
  padding: 10px;
  width: 600px;
  box-sizing: border-box;
}

.task p {
  margin: 0;
  margin-left: 5px;
}
.task .left,
.task .right {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.user-id {
  padding: 5px;
  width: 70px;
  text-align: center;
}

.with-radius {
  border-radius: 5px;
}

.grey-font {
  color: grey;
}

.task-btn {
  background-color: transparent;
  border: none;
  height: 30px;
  font-size: 15px;
  margin-left: 5px;
}

.task-btn:active {
  outline: none;
}

.x-btn {
  color:red;
  font-weight: bold;
}

.task input[type=checkbox] {
  accent-color: var(--dark-blue);
  width: 14px;
  aspect-ratio: 1;
}

.task:has(input:checked) .desc {
  text-decoration: line-through;
}

.no-border {
  border: none
}